@using EmlakYonetim.Models.Entity
@model List<t_contact>
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    PMSEntities db = new PMSEntities();
    var kullaniciId = Convert.ToInt32(User.Identity.Name);
    var kullanici = db.t_contact.FirstOrDefault(x => x.id == kullaniciId);
}

<style>

    td, th {
        text-align: center;
        vertical-align: middle;
        padding: 5px;
    }
</style>
@if (kullanici.yetkiGrubuID == 1)
{
    <h1 style="text-align:center"><a href="/Kontakt/Yeni" class="btn btn-success">Yeni Kontakt Ekle</a></h1>
}

<h2 style="text-align:center">Kontakt Listesi</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>İsim</th>
            <th>Kontakt Detay</th>
            <th>Kontakt Güncelle</th>
            <th>Kontakt Sil</th>
        </tr>
    </thead>
    @foreach (var bilgi in Model)
    {
        if (bilgi.isim != null)
        {
            <tr>
                <td>@bilgi.id</td>
                <td>@bilgi.isim @bilgi.soyAdi</td>
                <td><a class="btn btn-primary" href="/Kontakt/Detay/@bilgi.id">Detay</a></td>
                @if (kullanici.yetkiGrubuID == 1)
                {
                    <td><a class="btn btn-info" href="/Kontakt/Guncelle/@bilgi.id">Guncelle</a></td>
                }
                else
                {
                    <td style="color:indianred"><strong>Güncelleme</strong> yetkiniz bulunmamaktadır.</td>
                }
                @if (kullanici.yetkiGrubuID == 1)
                {
                    <td><a class="btn btn-danger" href="#" onclick="silmeyiOnayla(@bilgi.id)">Sil</a></td>
                }
                else
                {
                    <td style="color:indianred"><strong>Silme</strong> yetkiniz bulunmamaktadır.</td>
                }

            </tr>
        }
        else
        {
            <tr>
                <td>@bilgi.id</td>
                <td>@bilgi.organizasyonAdi</td>
                <td><a class="btn btn-primary" href="/Kontakt/Detay/@bilgi.id">Detay</a></td>
                @if (kullanici.yetkiGrubuID == 1)
                {
                    <td><a class="btn btn-info" href="/Kontakt/Guncelle/@bilgi.id">Guncelle</a></td>
                }
                else
                {
                    <td style="color:indianred"><strong>Güncelleme</strong> yetkiniz bulunmamaktadır.</td>
                }
                @if (kullanici.yetkiGrubuID == 1)
                {
                    <td><a class="btn btn-danger" href="#" onclick="silmeyiOnayla(@bilgi.id)">Sil</a></td>
                }
                else
                {
                    <td style="color:indianred"><strong>Silme</strong> yetkiniz bulunmamaktadır.</td>
                }
            </tr>

        }
    }

</table>

<script>
    function silmeyiOnayla(contactId) {
        if (confirm("Bu kişiyi silmek istediğinize emin misiniz?")) {

            $.post("/Kontakt/Sil", { contactId: contactId })
                .done(function (response) {
                    alert("Başarıyla silindi.")
                    location.reload();
                })
                .fail(function (error) {
                    alert("Silme işlemi gerçekleşmedi.")
                    console.log(error);
                });

        }
    }
</script>